<div class="container">
  <div class="row">
    <h2 class="col-xs-offset-2">登録情報編集</h2>
  </div>
  <%= form_for(@user, url:users_user_path(@user), method: :patch, html: { class: "form-horizontal" }) do |f| %>
    <div class="row">
      <div class="form-group">
        <div class="col-xs-2">
          <%= f.label "名前" %>
        </div>

        <div class="col-xs-1 text-right">
          <%= f.label "（姓）"%>
        </div>

        <div class="col-xs-2">
          <%= f.text_field :last_name%>
        </div>

        <div class="col-xs-1 text-right">
          <%= f.label "（名）"%>
        </div>

        <div class="col-xs-2">
          <%= f.text_field :first_name%>
        </div>
      </div>

      <div class="form-group">
        <div class="col-xs-2">
          <%= f.label "フリガナ"%>
        </div>

        <div class="col-xs-1 text-right">
          <%= f.label "（セイ）"%>
        </div>

        <div class="col-xs-2">
          <%= f.text_field :last_name_kana%>
        </div>

        <div class="col-xs-1 text-right">
          <%= f.label "（メイ）"%>
        </div
        >
        <div class="col-xs-2">
          <%= f.text_field :first_name_kana%>
        </div>
      </div>

      <div class="form-group">
        <div class="col-xs-3">
          <%= f.label "メールアドレス" %>
        </div>
        <div class="col-xs-9">
          <%= f.email_field :email, autocomplete: "email" %>
        </div>
      </div>

      <div class="form-group">
        <div class="col-xs-3">
          <%= f.label "郵便番号（ハイフンなし）" %>
        </div>
        <div class="col-xs-9">
          <%= f.text_field :zip_code %>
        </div>
      </div>

      <div class="form-group">
        <div class="col-xs-3">
          <%= f.label "住所" %>
        </div>
        <div class="col-xs-9">
          <%= f.text_field :address, :size => "63*63" %>
        </div>
      </div>

      <div class="form-group">
        <div class="col-xs-3">
          <%= f.label "電話番号（ハイフンなし）"%>
        </div>
        <div class="col-xs-9">
          <%= f.text_field :phone_number %>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-xs-4 col-xs-offset-3">
        <%= f.submit "編集内容を保存する", class: "btn btn-primary", style: "margin-right: 70px;" %>
        <%= link_to "退会する", users_withdraw_confirm_path, class: "btn btn-danger" %>
      </div>
    </div>
  <% end %>
</div>
