<div class="container">
  <h2>ショッピングカート</h2>
  <div class="row">
    <div class="col-xs-8 col-xs-offset-2">
      <div class="btn-box text-right">
      　<%= link_to "カートを空にする", users_cart_items_destroy_all_path, method: :delete, class:"btn btn-danger" %>
      </div>
    <table class="table genre-index table-bordered">
      <thead>
        <tr>
          <th>商品名</th>
          <th>単価(税込)</th>
          <th>数量</th>
          <th>小計</th>
          <th colspan="1"></th>
        </tr>
      </thead>
      <tbody>
        <% @cart_items.each do |cart_item| %>
          <tr>
            <td class="col-xs-5"><%= cart_item.product.name %></td><%# 商品名 %>
            <td class="col-xs-2"><%= cart_item.product.taxed_price.to_s(:delimited) %></td><%# 単価(税込) %>
            <td class="col-xs-2">
              <%= form_for [:users, cart_item] do |f| %>
                <%= f.select :amount,(1..10).to_a %>
                <%= f.submit "変更", class:"btn btn-primary" %>
              <% end %>
            </td>
            <td class="col-xs-2">
              <%= (cart_item.product.taxed_price * cart_item.amount).to_s(:delimited) %><%# 小計 %>
            </td>
            <td class="col-xs-1"><%= link_to "削除する", users_cart_item_path(cart_item.id), method: :delete, class:"btn btn-danger" %></td>
        　</tr>
        <% end %>
      </tbody>
    </table>
    <div class="col-xs-8">
      <%= link_to "買い物を続ける", users_products_path, class:"btn btn-primary" %>
    </div>
    <div class="col-xs-4">
      <table class="table">
        <tbody>
          <tr>
            <td>合計金額<td>
            <td><%= current_user.cart_items_sum.to_s(:delimited) %></td>
            <td>円</td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="text-center">
      <% if current_user.cart_items.present? %>
        <% if current_user.unconfirmed_order? %>
          <%= link_to "情報入力に進む", new_users_order_path, class: "btn btn-success" %>
        <% else %>
          <%= link_to "お届け先情報編集画面に進む", edit_users_order_path(@latest_order), class: "btn btn-primary"%>
          <%= link_to "注文確認画面に進む", users_confirmation_order_path(@latest_order), class: "btn btn-success" %>
          <%= link_to "注文をやめる", users_order_path(@latest_order), method: :delete, class:"btn btn-danger"%>
        <% end %>
      <% else %>
        カート内に商品は入っていません。
      <% end %>
    </div>
  </div>
</div>
