<div class="container">
    <div class="col-xs-3">
        <%= render 'users/products/search_bar', genres: @genres %>
    </div>
    <div class="col-xs-9">
        <h1><%= @title %></h1>
        <p>（全<%= @product_all.count %> 件）</p>
      
      <div class="list-group">
        <% @products.each do |product| %>
          <%= link_to users_product_path(product) do %>
            <ul class="list-group-item">
            <%# 商品画像 %>
            <li class="list-group-item"><%= attachment_image_tag(product, :image, :fill, 135, 90, fallback:"no_image.jpg", size: '135x90') %></li>
            <%# 商品名 %>
            <li class="list-group-item"><%= product.name %></li>
            <%# 商品価格 %>
            <li class="list-group-item">
              ¥<%= product.price %>
              <% if !product.is_active? %>
                <span class="badge" style="background: blue;">売り切れ</span>
              <% end %>
            </li>
            </ul>
          <% end %>
        <% end %>
      </div>
        <%= paginate @products, class: "gaginate" %>
    </div>
</div>
