<div class="container">
  <div class="row">
    <div class="col-xs-8 col-xs-offset-2">
    <h2><%= @user.last_name %>  <%= @user.first_name %>さんの会員詳細</h2>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-1">
    </div>
    <div class="col-xs-5">
      <table class="table table-bordered">
        <tbody>
          <tr>
            <td><label>会員ID</label></td>
            <td><%= @user.id %>
              <% if @user.is_active? %>
                <span class="label label-primary">有効会員</span>
              <% else %>
                <span class="label label-danger">退会済み</span>
              <% end %>
            </td>
          </tr>
          <tr>
            <td><label>氏名</label></td>
            <td><%= @user.last_name %>　<%= @user.first_name %></td>
          </tr>
          <tr>
            <td><label>フリガナ</label></td>
            <td><%= @user.last_name_kana %>　<%= @user.first_name_kana %></td>
          </tr>
          <tr>
            <td><label>郵便番号</label></td>
            <td><%= @user.zip_code %></td>
          </tr>
          <tr>
            <td><label>住所</label></td>
            <td><%= @user.address %></td>
          </tr>
          <tr>
            <td><label>電話番号</label></td>
            <td><%= @user.phone_number %></td>
          </tr>
          <tr>
            <td><label>メールアドレス</label></td>
            <td><%= @user.email %></td>
          </tr>
        </tbody>
      </table>
      <div class="row">
        <div class="text-center">
          <%= link_to "編集する", edit_admins_user_path(@user), class:"btn btn-primary" %>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-3"></div>
        <div class="col-xs-3">
          <%= form_tag(admins_orders_path, method: :get) do %>
            <%# 注文履歴一覧の対象を指定するためのparams %>
            <%= hidden_field_tag :order_sort, 1 %>
            <%= hidden_field_tag :user_id, @user.id %>
            <%= submit_tag("注文履歴一覧を見る", class: "btn btn-primary", style:"margin-top: 15px")%>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
