<div class="container">
  <h2 class="col-xs-8 col-xs-offset-2">配送先編集</h2>

  <div class="row">
    <table class="input-table">
      <tbody>
        <%= form_for [:users, @delivery] do |f| %>
          <div class="field">
            <tr>
              <td>郵便番号(ハイフンなし)</td>
              <td><%= f.text_field :zip_code %></td>
            </tr>
          </div>
          <div class="field">
            <tr>
              <td>住所</td>
              <td><%= f.text_field :address, size: 50 %></td>
            </tr>
          </div>
          <div class="field">
            <tr>
              <td>宛名</td>
              <td><%= f.text_field :name %></td>
              <td style="padding-left: 60px;"><%= f.submit '更新する', class: "btn btn-primary" %></td>
            </tr>
          </div>
        <% end %>
      </tbody>
    </table>
  </div>
