<div class="row">
  <div class="col-xs-8 col-xs-offset-2">
    <h2>商品一覧</h2><br>
    <%# ボタン丸くするのはあとで %>
      <div class="row text-right">
        <%= link_to "+", new_admins_product_path, class: "btn btn-primary rounded-circle text-right ml-auto shadow-sm" %>
      </div>
    <table class="table table-bordered">
      <thead>
        <tr class="active">
          <td>商品ID</td>
          <td>商品名</td>
          <td>税抜価格</td>
          <td>ジャンル</td>
          <td>ステータス</td>
        </tr>
      </thead>

      <tbody>
        <% @products.each do |product| %>
          <tr>
            <td><%= product.id %></td>
            <td><%= link_to admins_product_path(product) do %>
                  <u><%= product.name %></u>
                <% end %>
            </td>
            <td><%= product.price %></td>
            <td><%= product.genre.name %></td>
            <td><%= product.is_active ? '販売中' : '売り切れ' %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
    <div align="center"><%= paginate @products, class: "gaginate" %></div>
  </div>
</div>
