<div class="row">
  <div class="col-xs-8 col-xs-offset-2">
  <h2>おすすめ商品変更</h2></div>
</div>
<div class="row">
  <div class="col-xs-6 col-xs-offset-3">
    <%= form_tag(admins_recommends_path, method: :post) do %>
      <div class="row">
        <table class="table genre-index table-bordered">
          <thead>
            <tr class="active">
              <td class="col-xs-1">商品ID</td>
              <td class="col-xs-3">商品名</td>
              <td class="col-xs-2">税抜価格</td>
              <td class="col-xs-2">ジャンル</td>
              <td class="col-xs-2">おすすめ(off/on)</td>
            </tr>
          </thead>

          <tbody>
              <% @products.each do |product| %>
                <tr>
                  <td><%= product.id %></td>
                  <td><%= link_to admins_product_path(product) do %>
                        <u><%= product.name %></u>
                      <% end %>
                  </td>
                  <td class="text-right"><%= product.price %>円</td>
                  <td class="text-center"><%= product.genre.name %></td>
                  <td align="center">
                    <%= radio_button(product.id, :recommend, false, checked:!product.recommend?) %>　　
                    <%= radio_button(product.id, :recommend, true, checked:product.recommend?) %>
                  </td>
                </tr>
              <% end %>
          </tbody>
        </table>
      </div>
    <div class="row text-center">
      <%= submit_tag 'おすすめ表示を更新する', class:"btn btn-success" %>
      <% end %>
    </div>
  </div>
</div>
