<div class="container">
  <div class="row">
    <div class="col-xs-8 col-xs-offset-2">
      <h2 class="col-xs-offset-2" style="margin-bottom: 50px;">商品詳細</h2>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-4">
      <%= attachment_image_tag(@product, :image, :fill, 300, 200, fallback:"no_image.jpg", size: '300x200') %>
    </div>
    <div class="col-xs-5 col-xs-offset-1">
      <div class="form-group">
        <p class="col-xs-5">商品名</p>
        <strong><%= @product.name %></strong>
      </div>

      <div class="form-group">
        <p class="col-xs-5">商品説明</p>
        <strong><%= @product.description %></strong>
      </div>

      <div class="form-group">
        <p class="col-xs-5">ジャンル</p>
        <strong><%= @product.genre.name %></strong>
      </div>

      <div class="form-group">
        <p class="col-xs-5">税込価格(税抜価格)</p>
        <strong><%= @product.taxed_price.floor %>（<%= @product.price %>） 円</strong>
      </div>

      <div class="form-group">
        <p class="col-xs-5">販売ステータス</p>
        <strong><%= @product.is_active ? '販売中' : '売り切れ' %></strong>
      </div>

      <div class="form-group">
        <p class="col-xs-5">おすすめ表示</p>
        <strong><%= @product.recommend ? 'する' : 'しない' %></strong>
      </div>

    </div>
  </div>

  <div class="row field text-right form-group">
      <%= link_to "編集する", edit_admins_product_path(@product), class:"btn btn-primary" %>
  </div>

</div>
